---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};
---
<section class="home-intro">
	<h1>Engineered Thoughts</h1>
</section>

{% if collections.posts %}
<section class="home-writing" aria-labelledby="writing-heading">
	<h2 id="writing-heading">Writing</h2>
	{% for post in collections.posts | reverse %}
	<a class="home-post" href="{{ post.url }}">
		<span class="home-post-title">{{ post.data.title }}</span>
		<time class="home-post-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
	</a>
	{% endfor %}
</section>
{% endif %}
